.container,
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  flex-direction: column;
}
.card_container {
  max-width: 800px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.card {
  flex-direction: column;
  width: 250px;
  height: auto;
  padding: 10px;
  border-radius: 3px;
  background: #fffffe;
  /* box-shadow: 0 0 10px rgba(202, 202, 202, 0.685); */
}
.card:first-child {
  border-bottom: 8px solid rgb(233, 43, 100);
}
.card:nth-child(even) {
  border-bottom: 8px solid rgb(105, 168, 11);
}
.card:last-child {
  border-bottom: 8px solid rgb(97, 97, 97);
}
/* .card + .card {
  margin-left: 1rem;
} */
h3 {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0;
}
.date {
  font-size: 13px;
  color: #0f0e17;
}
.countUp {
  font-size: 1.1rem;
  font-weight: 400;
  color: #0f0e17;
}
.global_data {
  color: #b3e59f;
  text-align: center;
}

@media (max-width: 900px) {
  .card_container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .card_container {
    grid-template-columns: 1fr;
  }
}
